/* =============== VARIABLES =============== */


@import "../bourbon/_bourbon.scss";

$backgroundc: #fcfcfc;
$lightcolor: #f6f6f6;
$midcolor: #acacac;
$maincolor:#576889;
$darkcolor: #686868;
$serif: "garamond-premier-pro",serif;
$sansserif:"proxima-nova",sans-serif normal 300;
$sansserifweight:100;


body {
  margin-top: 3em;
  background-color:$backgroundc;
  color:$maincolor;
  font-family: $sansserif;
  font-size:1.25em;
  height:100%;
}

/* =============== TYPOGRAPHY =============== */

h2 {
  font-family:$sansserif;
  font-weight: $sansserifweight;
  color:$maincolor;
  letter-spacing: .03em;
}

h3 {
  font-family:$sansserif;
  color:$maincolor;
  font-size:.8em;
  margin: 1em 0 0.5em 0;
  font-weight: 200;
  position: relative;
  line-height: 40px;
  text-transform: uppercase;
  border-bottom: 1px solid rgba(53,86,129, 0.3);
  letter-spacing: .09em;
  ;
}


h4 {
  font-family:$sansserif;
  font-weight: $sansserifweight;
}

ul li {
  list-style-type:none;
}



/* =============== LINKS + MENU + NAV =============== */
a {
  color:$maincolor
}

a:hover {
  color: #3a435a;
}

nav a {
  font-size:.9em;
}

.introsummary {
  width:70%;
}

nav ul li {
  list-style-type: none;
  margin-left: 1em;

}


nav ol li, nav ul li {
  line-height: 1.3em;
  margin-bottom: .4em;
}

nav ul li a {
  border-bottom: 0px solid #000;
  padding-bottom: 0px
}


/* =============== HEADER =============== */

header {
  width:80%;
  margin: 0 auto;
  border-bottom: 1px solid $maincolor;
  height:auto;
  padding-left: 2em;
  position: relative;
  top:-50px;

}

header p {
  max-width: 60%;
  margin-top: -.8em;
  color: darken( $midcolor, 40% );
}


header h1 {
  color:$maincolor;
  font-size:2.5em;
  letter-spacing:.5px;
}

#headersearch {
  width:200px;
  position: absolute;
  top:70px;
  right:0px;

}



header h2 {
  font-size:1.3em;
  margin-top: -.5em;
}




/* =============== HOME PAGE =============== */

.homepage {
  position:relative;
  top:-30px;
}

.homeparagraph {
  width:70%;
  font-size:.8em;
}

ol li, ul li {
  line-height: 1.3em;
  margin-bottom: .7em;
}


ul li a:nth-child(2) {
  padding-bottom: 2.9px;
  color: lighten( $maincolor, 10 );
}



.homepanel ol li {
  font-size:.8em;

}

/* =============== SEARCH RESULTS =============== */

.searchresults {
  color:$midcolor;
}




/* =============== CONTRIBUTE =============== */





#signup {
  padding: 0px 25px 25px;
  background: #fff;
  box-shadow:
    0px 0px 0px 5px rgba( 255,255,255,0.4 ),
    0px 4px 20px rgba( 0,0,0,0.33 );
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  display: table;
  position: static;
}

#contribute .header {
  margin-bottom: 20px;
}

#contribute .header h3 {
  color: #333333;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 5px;
}

#contribute .header p {
  color: #8f8f8f;
  font-size: 14px;
  font-weight: 300;
}


#contribute  {
  margin-top: 25px;
  padding-left: 0;


}

input[type="file"] {
  width: 200px;
  font-size: .7em;
  margin:0;
  padding-left: 0;

}

#contribute p {
  font-size:.6em;
  margin-bottom: 0;
  color:$midcolor;
}


#contribute  label {
  color: #8f8f8f;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 1px;
  margin-bottom: 7px;
  display: block;
}

input::-webkit-input-placeholder {
  color:    #b5b5b5;
}

input:-moz-placeholder {
  color:    #b5b5b5;
}

#contribute input[type=text], input[type=email] {
  background: #f5f5f5;
  font-size: 0.8rem;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: none;
  padding: 13px 10px;
  width: 330px;
  margin-bottom: 20px;
  box-shadow: inset 0px 2px 3px rgba( 0,0,0,0.1 );
  clear: both;
}

#contribute  input[type=text]:focus, input[type=email]:focus {
  background: #fff;
  box-shadow: 0px 0px 0px 3px #9ab0c6, inset 0px 2px 3px rgba( 0,0,0,0.2 ), 0px 5px 5px rgba( 0,0,0,0.15 );
  outline: none;
}


#contribute  label.terms {
  float: left;
  font-size: 14px;
  font-style: italic;
}

#contribute  #submit {
  width: 20%;
  margin-top: 20px;
  color: #fff;
  font-size: .8em;
  letter-spacing: 1px;
  text-align: center;
  text-decoration: none;
  background: $maincolor;
  display: table;
  position: static;
  clear: both;
}




/* =============== TOPIC PAGE =============== */


.topicoutline {
  font-size:.7em;
  color:gray;
}

#topics .accordion ul li {
  font-size:.8em;
}

.topiclink {
  display:inline-block;
  width:100%;
  background-color: $maincolor;
  padding: .5em;
  border-radius: 5px;
  color:$lightcolor;
  margin-bottom: 1em;
  letter-spacing: .08em;
  text-align: center;
}

.topiclink:hover {
  color:$lightcolor;
  background-color: lighten($maincolor, 9)

}

.breadcrumbs {
  border-style: none;
  border-bottom: solid 1px $maincolor;
  border-width: 1px;
  display: block;
  list-style: none;
  margin-left: 0;
  overflow: hidden;
  padding: 0.5625rem 0.875rem 0.5625rem;
  border-radius: 0px;
  background-color: transparent;
  padding: 0 !important;
  padding-bottom:1em !important;
  /* =============== HOW CAN I OVERRIDE APP.CSS IN ANOTHER? SHOULD APP.JS BE MOVED CLOSER TO THE <HEAD> ? =============== */



}

.breadcrumbs li, .breadcrumbs a {
  letter-spacing: .1em;
  color:$maincolor;
  margin:.4 .4em 0 0;
}


.accordion .accordion-navigation, .accordion dd {
  margin-bottom: 1em !important;
}


.accordion-navigation {
  >a:after {
    content: "+";
    padding-left: 5px;
    float: right;
    font-size: 20px;
    color:$maincolor;
  }
  &.active a:after {
    content: "-";
  }
}


lh {
  text-transform: uppercase;
  font-size:.9em;
  letter-spacing: 3px;
  background-color: $midcolor;
  color: $lightcolor;
  width:100%;
  padding: .3em .3em .3em 2em;
  margin: .4em;
  display:inline-block;
  border-left: 1px solid black;
}


header img:hover + #searchpanel {
  display: block;
}


#topics ul li {
  list-style-type:none;
  margin-left:0em;

}



/* =============== CITATION PAGE =============== */



.citation {
  height:100%;
  padding: 1.25em;
}

.citation p:nth-child(odd) {
  font-weight: bold;
}

.citation p {
  font-family:$sansserif;
  font-size:.8em;
  margin-top: -1em;
}

.content p {
  font-size:.9em;
  color:$darkcolor;
}


.list {
  float:left;
}


/* =============== SEARCH BAR =============== */

input {
  background-color: gray;
  width:80%;
  -moz-box-shadow:
    inset 0 0 10px  rgba(0,0,0,0.1),
    0 0 16px rgba(0,0,0,0.1);
  padding: 15px;
  background: rgba(255,255,255,0.0);
  margin: 0 0 10px 0;
  font-size:1.5em;
  /*background:  url(../img/search_icon.png) no-repeat right;*/
  padding-left:40px;
  background-position: right 20px bottom 10px;
}

.searchicon {
  position: absolute;
  float:left;
  padding:18.8px;
  background-color:$maincolor;
}

#search {
  padding-left:0px;
  float:left;
}

::-webkit-input-placeholder {
  color: #888888;
  font-family:$sansserif;
}

:-moz-placeholder { /* Firefox 18- */
  color:$maincolor;
}

::-moz-placeholder {  /* Firefox 19+ */
  color:$maincolor;
}

:-ms-input-placeholder {
  color:$maincolor;
}

#searchpanel {
  display: none;
  width:350px;
  padding:2em;
  position:fixed;
  z-index:1000;
  box-shadow: 0px 5px 2px #888888;
  background-color: $backgroundc;
}

#searchpanel a {
  font-size:1em;
}

/* =============== FOOTER =============== */


footer {
  clear:both;
  height:auto;
  margin-top:3em;
  padding-top: 2em;
  color:$maincolor;
  padding-bottom: 2em;

}


footer img {
  height:30px;
  margin-bottom:1em;
}

footer p {
  font-size:.6em;
  letter-spacing: .06em;
  margin:0 auto;
  text-align: left;
}

footer a {
  color:$maincolor;
}

footer a:hover {
  color: #fdfdfd;footer div:first-child, footer div:first-child + div {
  list-style: none;
  color:red;
}


}


footer h1 {
  font-size:.7em;
  color:$maincolor;
  letter-spacing:.05em;
  height:30px;
  margin-bottom:1em;
}

