@import "../bourbon/_bourbon.scss";

$backgroundc: #fcfcfc;
$lightcolor: #f6f6f6;
$maincolor: #0F425C;
$serif: "garamond-premier-pro",serif;
$sansserif:"proxima-nova",sans-serif normal 300;
$sansserifweight:100;


body {
  margin-top: 3em;
  background-color:$backgroundc;
  color:$maincolor;
  font-family: $sansserif;
  font-size:1.25em;
  height:100%;
}
/* =============== LINKS =============== */
a {
  color:$maincolor
}

a:hover {
  color: #3a435a;
}

nav a {
  font-size:.9em;
}

.introsummary {
  width:70%;
}

/* =============== HEADER =============== */

header {
  width:80%;
  margin: 0 auto;
  border-bottom: 1px solid $maincolor;
  height:auto;
  padding-left: 2em;
  position: relative;
  top:-50px;

}

header p {
  max-width: 60%;
  margin-top: -.8em;
}


header h1 {
  color:$maincolor;
  font-size:2.5em;
  letter-spacing:.5px;
}

#headersearch {
  width:200px;
  position: absolute;
  top:70px;
  right:0px;

}

h2 {
  font-family:$sansserif;
  font-weight: $sansserifweight;
  color:$maincolor;
  letter-spacing: .03em;
}

h3 {
  font-family:$sansserif;
  color:$maincolor;
  font-size:.8em;
  margin: 1em 0 0.5em 0;
  font-weight: 200;
  position: relative;
  line-height: 40px;
  text-transform: uppercase;
  border-bottom: 1px solid rgba(53,86,129, 0.3);
  letter-spacing: .09em;
  ;
}


header h2 {
  font-size:1.3em;
  margin-top: -.5em;
}



/* =============== MENU =============== */


nav {

}


nav ol li, nav ul li {
  line-height: 1.3em;
  margin-bottom: .4em;
}

nav ul li a {
  border-bottom: 0px solid #000;
  padding-bottom: 0px
}


/* =============== HOME PAGE =============== */

.homepage {
  position:relative;
  top:-40px;
}


ol li, ul li {
  line-height: 1.3em;
  margin-bottom: .7em;
}


ul li a:nth-child(2) {
  padding-bottom: 2.9px;
  color: lighten( $maincolor, 10% );

}





/* =============== TOPIC PAGE =============== */


.topicoutline {
  font-size:.7em;
  color:gray;
}

.topiclink,
.topiclink:hover {
  display:inline-block;
  width:100%;
  background-color: $maincolor;
  padding: .9em;
  border-radius: 5px;
  color:$lightcolor;
  margin-bottom: 1em;
  letter-spacing: .08em;
}

.breadcrumbs {
  border-style: none;
  border-bottom: solid 1px $maincolor;
  border-width: 1px;
  display: block;
  list-style: none;
  margin-left: 0;
  overflow: hidden;
  padding: 0.5625rem 0.875rem 0.5625rem;
  border-radius: 0px;
  background-color: transparent;
}

.breadcrumbs li, .breadcrumbs a {
  letter-spacing: .1em;
  color:$maincolor;

}


.accordion .accordion-navigation, .accordion dd {
  margin-bottom: 1em !important;
}


/* =============== TOPIC OUTLINE =============== */




lh {
  text-transform: uppercase;
  background-color: $maincolor;
  color:$lightcolor;
  width:100%;
  padding: .3em .3em .3em 2em;
  margin: .4em;
  display:inline-block;
  border-radius: .5em;

}



#searchpanel {
  display: none;
  width:350px;
  padding:2em;
  position:fixed;
  z-index:1000;
  box-shadow: 0px 5px 2px #888888;
  background-color: $backgroundc;
}

#searchpanel a {
  font-size:1em;
}

header img:hover + #searchpanel {
  display: block;
}


h4 {
  font-family:$sansserif;
  font-weight: $sansserifweight;
}

.citation {
  height:100%;
  padding: 1.25em;
}

.citation p:nth-child(odd) {
  background:$lightcolor;
}

.citation p {
  font-family:$sansserif;
  font-size:.8em;
  margin-top: -1em;
}

.content p {
  font-size:1em;
  color:darkslategray;
}


.list {
  float:left;
}

ul li {
  list-style-type:none
}

/*SEARCH BAR */

input {
  background-color: gray;
  width:80%;
  -moz-box-shadow:
    inset 0 0 10px  rgba(0,0,0,0.1),
    0 0 16px rgba(0,0,0,0.1);
  padding: 15px;
  background: rgba(255,255,255,0.5);
  margin: 0 0 10px 0;
  font-size:1.5em;
  /*background:  url(../img/search_icon.png) no-repeat right;*/
  padding-left:40px;
  background-position: right 20px bottom 10px;
}

.searchicon {
  position: absolute;
  float:left;
  padding:18.8px;
  background-color:#576889;
}

#search {
  padding-left:0px;
  float:left;
}

::-webkit-input-placeholder {
  color:$maincolor;
  font-weight:$sansserifweight;
}

:-moz-placeholder { /* Firefox 18- */
  color:$maincolor;
}

::-moz-placeholder {  /* Firefox 19+ */
  color:$maincolor;
}

:-ms-input-placeholder {
  color:$maincolor;
}

/* =============== TFOOTER =============== */


footer {
  background-color:$backgroundc;
  height:auto;
  margin-top:3em;
  padding: 2em;
  color:$maincolor;
}


footer img {
  height:30px;
  margin-bottom:1em;
}

footer p {
  font-size:.6em;
  letter-spacing: .06em;
}

footer a {
  color:$maincolor;
}

footer a:hover {
  color: #fdfdfd;footer div:first-child, footer div:first-child + div {
  list-style: none;
  color:red;
}


}


footer h1 {
  font-size:1em;
  color:$lightcolor;
  letter-spacing:.05em;
  height:30px;
  margin-bottom:1em;
}

/* MENU */
/* Minimal css for clickable pure CSS collapsible tree menu */
/* As specific as possible to prevent interference with other code */



#menutree li {
  list-style: none;          /* all list item li dots invisible */
}

li .menu_label + input[type=checkbox] {
  opacity: 0;             /* checkboxes invisible and use no space */
}                        /* display: none; is better but fails in ie8 */

li .menu_label {
  cursor: pointer;        /* cursor changes when you mouse over this class */
}                         /* could add the many user-select: none; commands here */

li .menu_label + input[type=checkbox] + ol > li
{
  display: none;         /* prevents sublists below unchecked labels from displaying */
}

li .menu_label + input[type=checkbox]:checked + ol > li
{
  display: block;         /* display submenu on click */
}
/* ================== ALTERNATE EXPANDING LIST ================== */

.topiclist ul {


}


.topiclist ul li:focus ~ .alert {
  display: none;
}
.span2:focus ~ .alert {
  display: block;
}