{% extends 'base_page.html' %}
{% block content %}
  <section>
    <header>
      <h1>Chicago Climate Online</h1>
    </header>
  </section>
  <section>
    <p>Chicago Climate Online (C2O), a policy initiative of the University of
      Chicago Law School, is a climate change policy research tool that seeks
      to become a preeminent policy resource for researchers. It combines
      features of Wikipedia—with summaries of current knowledge on climate
      policy topics—and a database—with a list of research articles on those
      topics. It is an open-access research tool that allows users to also
      upload, create, and organize their own content.</p>
    <p>The focus of C2O is on policy issues, not climate science. Although
      climate science continues to develop rapidly, we take the core of
      existing climate science as given. C2O is not a place to debate the
      validity of this science. The interconnectedness of policy and
      science, however, makes clear demarcation between the two impossible.
      C2O was developed with a primary focus on climate change policy,
      with inclusion of more science-focused topics and references only
      as necessary.</p>
  </section>
{% endblock %}